{% extends '../shared/_base.html' %}
{% block title %} Mijoz {% endblock %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">ID: {{ customer.key }}</div>
        </div>
        <div class="card-body py-0">
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Ismi</th>
                <th scope="col">Telefon raqam</th>
                <th scope="col">Manzil</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="{% url 'update_customer' customer.key %}" data-toggle="tooltip" title="Tahrirlash"><i class="fas fa-pen"></i></a></td>
                <td>{{ customer.first_name }}</td>
                <td>+998 {{customer.phone_number}}</td>
                <td>{{ customer.address }} 
                  <a class="btn btn-link" href="{{ customer.geo_location }}" target="_blank">
                    <i class="fas fa-map-marked-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>     
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Buyurtmalar tarixi</div>
            </div>
            <div class="card-body">
              {% if orders %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Sana va vaqt</th>
                      <th scope="col">Miqdor</th>
                      <th scope="col">Holat</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <td>{{order.created_at|date:'d.m.Y / h:i'}}</td>
                      <td>
                        {% if order.replacement_bottles %}
                        {{ order.replacement_bottles }} <i class="fas fa-sync-alt mx-1"></i> <span class="mx-2"></span>
                        {% endif %}
                        {% if order.new_bottles %}
                        {{ order.new_bottles }} <i class="fas fa-plus"></i>
                        {% endif %}
                      </td>
                      <td><span class="badge badge-success">{{order.get_status_display}}</span></td>
                      <td><a href="{% url 'order' order.key %}"><i class="fas fa-chevron-circle-right"></i></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% else %}
                <p class="text-center op-6">Ushbu mijoz hali buyurtma bermagan</p>
              {% endif %}
            </div>
        </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div class="card-title">Yangi buyurtma</div>
                </div>
            </div>
            <div class="card-body px-5">
              <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <form class="row" method="post" action="{% url 'customer' customer.key %}">
                      {% csrf_token %}
                      <div class="form-group col-lg-6">
                        <label for="replacement_bottles">{{ form.replacement_bottles.label }}</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-sync-alt"></i></span>
                            {{ form.replacement_bottles }}
                        </div>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="new_bottles">{{ form.new_bottles.label }}</label>
                        <div class="input-group">
                          <span class="input-group-text"><i class="fas fa-plus"></i></span>
                          {{ form.new_bottles }}
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary mt-4" onclick="return confirm('Rostdan ham ushbu buyurtmani yaratmoqchimisiz?');">
                        Saqlash
                      </button>
                    </form>
                  </div>
              </div>    
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}