{% extends '../shared/_base.html' %}
{% block title %} Kuryerlar {% endblock %}
{% block content %}
<!DOCTYPE html>
{% load static %}
{% load breadcrumbs %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div class="d-flex align-items-center">
                      <form class="input-group" method="get" action="{% url 'couriers' %}">
                        <div class="input-group-prepend">
                          <button type="submit" class="btn btn-search border">
                            <i class="fa fa-search search-icon m-1"></i>
                          </button>
                        </div>
                        <input type="search" name="search_key" id="search_key" placeholder="Kuryer ID raqamini kiriting ..." class="form-control" value="{{ request.GET.search_key }}">
                      </form>
                      </div>
                    <div class="ms-md-auto">
                        <a class="btn btn-primary btn-round" href="{% url 'add_courier' %}"><i class="fas fa-user-plus me-2"></i>Kuryer yaratish</a>
                    </div>
                </div>
            </div>
            <div class="card-body py-0 px-0">
              {% if couriers %}
              <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">ID</th>
                    <th scope="col">Ismi</th>
                    <th scope="col">Telefon raqam</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for courier in couriers %}
                  <tr>
                    <td><a href="{% url 'update_courier' courier.key %}"><i class="fas fa-pen"></i></a></td>
                    <th>{{ courier.key }}</th>
                    <td>{{ courier.first_name }} {{ courier.last_name }}</td>
                    <td>+998 {{ courier.phone_number }}</td>
                    <td><a href="{% url 'courier' courier.key %}"><i class="fas fa-chevron-circle-right"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p class="text-center op-6 mt-4">Hech qanday kuryer topilmadi</p>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}